<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ profile.app_id }}</title>
</head>
<body>

<h1>Профиль пользователя {{ profile.app_id }}</h1>
<img src="https://cdn-icons-png.flaticon.com/512/64/64572.png" alt="\:" style="width: 10%; height: 10%">
<dl>
    <dt><h2>{{ profile.full_name }}</h2></dt>
    <dt>{{ profile.stack }}</dt>
    <dt>{{ profile.search_status }}</dt>
    <dt>{{ profile.description }}</dt>
    {% for link in links %}
    <dt>{{ link }}</dt>
    {% endfor %}
    {% for team in teams %}
    <dt>{{ team }}</dt>
    {% endfor %}
</dl>


</body>
</html>